
.homePage-movie-wrapper {
  position: relative;
}

.movieContainer {
  outline: none;
  position:relative;
  border-radius: 0.3em;
}

.moviePoster {
  position: relative;
}
.moviePoster img {
  border-radius: 0.3em;
  cursor: pointer;
  width: 185px;
  height: 277px;
}

.missingPoster {
  border-radius: 0.3em;
  background-color: rgb(189, 186, 183);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 185px;
  min-height: 277px;
}

.missingPoster-icon {
  width: 5em;
  height: 5em;
  color: rgb(48, 45, 43);
}

.movieRating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 27, 53);
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  position: absolute;
  bottom: -0.5rem;
  outline: none;
  border: 0.2em black solid;
}

.rating {
  font-size: 0.8em;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
}

.percentageSymbol {
  font-size: 0.6em;
}

.movieRating.green {
  border-color: rgb(13, 126, 13);
  color: rgb(13, 126, 13);
}

.movieRating.yellow {
  border-color: rgb(255, 226, 52);
  color: rgb(255, 226, 52);
}

.movieRating.orange {
  border-color: rgb(255, 165, 52);
  color: rgb(255, 165, 52);
}

.movieRating.red {
  border-color: rgb(255, 69, 69);
  color: rgb(255, 69, 69);
}

.movieTitle {
  padding-top: 0.75rem;
  font-size: 1rem;
  font-weight: 900;
  color: rgb(255, 252, 242);
  cursor: pointer;
}

.movieTitle:hover {
  color: rgb(245, 124, 0);
}

.movieReleaseDate {
  color: rgb(255, 252, 242);
}

.movieList {
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.movieList::-webkit-scrollbar {
height: 0.75rem;
}

.movieList::-webkit-scrollbar-track {
  background-color: rgba(204, 197, 185, 0.4);
  border-radius: 100vw;
}

.movieList::-webkit-scrollbar-thumb {
  background-color: rgba(245, 124, 0, 0.8);
  border-radius: 100vw;
}


.icons {
  display: flex;
  gap:1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.watchList-icon-wrapper, .favorite-icon-wrapper {
  background-color: white;
  height: 1.75em;
  width: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.2em;
  border: thin solid rgba(245, 124, 0, 0.8);
  cursor: pointer;
}

.watchlist-icon, .heart-icon {
  color: rgba(245, 124, 0, 0.8);
}