.movies-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2rem;

}

.movies-page-container {
  display: flex;
  justify-content: row ;
  gap:2rem;
  width: 100%;

}
.movies-page-filters {
  width: 500px;
  height: 500px;
  background-color: red;
}
.movieContainer {
  max-width: 185px;

}

.homePage-movie-wrapper {
  border-radius: 0.5rem;
}




.more-movies {
  grid-column: 1 / -1;
 width: 100%;
}