
.navBar {
 background-color: rgb(37, 36, 34);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1.5rem 3rem;
}

.navigationSection {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.logo {
  font-size: 3em;
  font-weight: 900;
}

.logo span {
  color: rgb(245, 124, 0);
}

.navLinks {
  display: flex;
  gap: 2em;
  list-style: none;
}

.navLinks a{
  text-decoration: none;
  color: rgb(255, 252, 242);
  font-size: 1.75rem;
  font-weight: 900;
}

.navLinks a:hover {
  color: rgb(245, 124, 0);
  text-decoration: underline;
}

.loginSection {
  display: flex; 
  gap: 2em;
}

.btn {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;
  outline: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  min-width: 120px;
}

.register-btn {
  background-color: rgb(204, 197, 185);
  color: rgb(64, 61, 57)
}

.login-btn {
  background-color: rgb(245, 124, 0);
  color: white;
}

.register-btn:hover {
  background-color: rgb(155, 150, 141);
}

.register-btn:active {
  background-color: rgb(125, 120, 112);
  font-weight: 600;
}

.login-btn:hover {
  background-color: rgb(210, 100, 0);
}

.login-btn:active {
  background-color: rgb(180, 85, 0);
  font-weight: 600;
}

.hamburger-menu {
  font-size: 2.5rem;
  color: rgb(255, 252, 242);
  cursor: pointer;
}

.hidden-menu {
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: rgba(37, 36, 34, 0.90);
  height: 100%;
  width: 70%;
  position:absolute;
  z-index: 1000;
  right: 0;
  font-size: 3rem;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
  
}

.hidden-menu.open {
  transform: translateX(0);
}

.hidden-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.hidden-menu a {
  text-decoration: none;
  color: rgb(255, 252, 242);
}

.hidden-menu a:active {
  color: rgb(245, 124, 0);
}


@media (width>=900px) {
  .hamburger-menu {
    display:none;
  }

  .hidden-menu {
    display:none
  }
}

@media (width<900px) {
  .register-btn, .login-btn {
  display: none;
 }
 .navLinks {
  display: none;
 }
}